html {
    font-size: 22px;
}

main {
    width: 816px;
    margin: 0 auto;
    padding: 4px;
}

header {
    text-align: center;
    font-family: Inter;
}

body {
    background-color: white (255, 255, 255);
    color: black (5, 5, 5);
}

table,
tr,
th,
td,
caption {
    border: 1px solid black(0, 0, 0);
    font-family: 'Inter';
    border-collapse: 'collapse';
    padding: 0.5rem;
}